---
layout: default
carousels:
  - images:
    - image: /assets/img/fieldwork/20201012_122202.jpg
    - image: /assets/img/fieldwork/arrived at the Antarctic shelf.jpeg
    - image: /assets/img/fieldwork/IMG_4459.JPG
    - image: /assets/img/fieldwork/IMG_4582.JPG
    - image: /assets/img/fieldwork/IMG_5567.JPG
    - image: /assets/img/fieldwork/IMG_5888.JPG
    - image: /assets/img/fieldwork/Irene and I on the RV Polarstern helideck.jpeg
    - image: /assets/img/fieldwork/loading workboat.jpeg
    - image: /assets/img/fieldwork/morna.png
    - image: /assets/img/fieldwork/pati_barcelona.jpeg
    - image: /assets/img/fieldwork/penguins escaping the RV Polarstern.jpeg
    - image: /assets/img/fieldwork/recording in Barcelona for Pati Cientific.jpeg
    - image: /assets/img/fieldwork/seasick on the Simon Stevin.jpeg
---
<div class="post">
   <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-description">{{ page.description }}</p>
  </header>

  <article>
      <div>
          {{ content }}
      </div>
      <div>
          {% include carousel.html height="50" unit="%" duration="7" number="1" %}
      </div>
      <h2>
        <a href="{{ '/publications/' | relative_url }}" style="color: inherit">published datasets</a>
      </h2>
      {% include datasets.liquid %}

  </article>
</div>
